body {
  margin: 0;
  font-family: Arial;
  background: #fff5f8;
}

.navbar {
  padding: 15px 40px;
  background: #ff69b4;
  color: white;
  display: flex;
  justify-content: space-between;
}

.hero {
  text-align: center;
  padding: 50px;
  background: linear-gradient(#ff9acb,#ffd1dc);
  color: white;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 40px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 50%;
  height: 100px;        /* increase height */
  object-fit: contain; /* IMPORTANT */
  background: #fff;    /* clean background */
  border-radius: 12px;
  padding: 10px;
}


.brand-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px;
}

.brand-grid img {
  width: 150px;
  cursor: pointer;
}

button, .checkout-btn {
  background: #ff69b4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

.payment-box {
  width: 350px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  border-radius: 20px;
}
.payment-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
